

body{
    background-color: rgb(239, 239, 239);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    width: 40%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 100;
    margin: 20vh auto auto auto;
    box-shadow: 4px 4px 15px rgb(213, 213, 213);

    h1{
        margin: .25rem;
        text-align: center;
    }

    label{
        text-align: start;
    }

    input{
        width: 100%;
        box-sizing: border-box;
        margin: .5rem 0rem;
        padding: .5rem .25rem;

    }

    input[type="submit"]{
        background-color: rgb(131, 135, 255);
        width: 100%;
        margin: 0;
        padding: .5rem .25rem;
        border: 0;
        color: white;
    }
}

